/***************************
    CUSTOM SCROLL BAR
****************************/
*,html{
    scroll-behavior: smooth;
    }
    *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    :root{
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
    --white:#fff;
    --black:#131417;
    --gray:rgba(255,255,255,0.7);
    --lite:rgba(1,1,1,0.6);
    --palegreen:#99decc;
    --palepink:#ffe2e2;
    --paleblue:#bad7df;
    --pink:#fc9caa;
    --green:#99ddcc;
    --blue:#b6daf4;
    --default:'Josefin Sans', sans-serif;
    --title:'Cormorant Garamond', serif;
    --cursive:'Dancing Script', cursive;
    }
    ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: var(--dark);
    }
    ::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    ::-webkit-scrollbar-corner {
    background: var(--paleblue);
    }    